#root,
#rtc-embed,
body,
html {
  height: 100%;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

.admin-glow {
  color: #b23c17 !important;

}


.mod-glow {
  color: #00e5ff !important;
}




.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper-comment:hover .wrapper-overlay {
  visibility: visible;
}

.emote {
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 0;
  position: relative;
  top: 8.5px;
}

.full-height {
  height: 100% !important;
}

#rtc-embed {
  width: 100%;
  border: none;
}

.drawer-poll {
  scrollbar-width: thin;
  scrollbar-color: #ff9100 transparent;
}

.drawer-poll::-webkit-scrollbar {
  width: 5px;
}

.drawer-poll::-webkit-scrollbar-track {
  background: 0 0;
}

.drawer-poll::-webkit-scrollbar-thumb {
  background-color: #ff9100;
  border-radius: 10px;
}

.drawer-poll-secondary::-webkit-scrollbar {
  height: 5px;
  width: 0px;
}

.santa-hat:before {
  content: url("../images/santa-hat.png");
  position: absolute;
  z-index: 1;
  left: -3px;
}

.santa-hat-primary {
  position: relative;
}

.santa-hat-primary:before {
  content: url("../images/santa-hat-big.png");
  position: absolute;
  z-index: 1;
  top: -12.5px;
  left: -5.5px;
}

.css-1n2y153 {
  color: #c5c8c6!important;
}

.css-vubbuv {
  color: #c5c8c6!important;
}

.css-f7yoxj {
  background-color: #282a2e!important;
}

.css-1torypp {
  color: #c5c8c6!important;
}


.css-1avq4gx {
  background-color: #282a2e!important;
}

.css-woj4r5 {
  background-color: #282a2e!important;
}

.css-1w1mz3r {
  background-color: #282a2e!important;
}

.css-1fvxnp6 {
  background-color: #282a2e!important;
}

.css-rz6w3l {
  background-color: #1d1f21!important;
}

.css-1fw6hqb {
  background-color: #1d1f21!important;
}

.css-17mxmyl {
  color: #c5c8c6!important;
}

.css-71hyxe {
  color: #c5c8c6!important;
}

.css-1kxonj9 {
  background-color: #282a2e!important;
}

.css-qzu3yu {
  background-color: #c5c8c6!important;

}

.css-1n0i22n {
  background-color: #282a2e!important;
}

.Mui-focused {
  color: #c5c8c6!important;
}

.css-3jb606{
  background-color: #282a2e!important;
}

.css-1jsv5zs{
  background-color: #1d1f21!important;
}

.css-oup0z4 {
  background-color: #282a2e !important;
  background-image: none!important;
}

.css-2kvl7a {
  font-size: 2rem!important;
  color: #c5c8c6!important;
  text-transform: none!important;
}

.css-qzu3yu {
  display:none!important
}

::placeholder {
  color:#c5c8c6!important;
}

.css-v3xtph:hover {
  border: solid 1px white!important;
}

.css-v3xtph {
  border: solid 1px grey!important;
}

.css-2newut:hover {
  background-color: rgba(55, 71, 79, .2)!important;
}

.css-9z5h4i {
  background-color: transparent!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-1fvxnp6 { 
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-woj4r5 {
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-1kv2fle {
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-1n09f9f {
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-3tsy5t {
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}

.css-1kgespq {
  background-color: rgb(25, 27, 31)!important;
}
  
.css-myg38w {
  color: rgb(197, 200, 198) !important;
}

.css-sd33hq {
  background-image: none!important;
  background-color: rgb(25, 27, 31)!important;
}